.main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.boxSpecies{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.button {
    padding: 5px 10px;
    background-color: #15a877;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}